@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cormorant+Garamond:ital,wght@1,300&family=Pacifico&display=swap');

.body {
    background-color: aqua;
    font-family: 'Caveat', cursive;
}
.danil:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.danil {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}    
.dop {
    color: green;
    transition: 2s;
    display: inline-block;
}
.dop:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.table .clowncolor {
    background-color: green;
    color: linen;
}
.table .clowncolor::placeholder {
    color: rgb(0, 0, 0);
}
.gap {
    margin: 10px 10px;
}
.zalupa:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.zalupa {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}
.ruk:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.ruk {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}
.san:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.san {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}
.och:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.och {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}
.blad:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.blad {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}
.vag:hover {
    color: tomato;
    transform:scale(150%);
    padding-left: 50px;
}
.vag {
    transition: 2s;
    display: inline-block;
    color: hotpink;
}
.mat:hover {
color: tomato;
transform:scale(150%);
padding-left: 50px;
}
.mat {
    color: hotpink;
    transition: 2s;
    display: inline-block;
}
.billy:hover {
    border-radius: 50px;
}
.billy {
    transition: 5s;
}
